<div class="glow"></div>
<div class="particles">
  <div class="rotate">
    <div class="angle">
      <div class="size">
        <div class="position">
          <div class="pulse">
            <div class="particle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="angle">
      <div class="size">
        <div class="position">
          <div class="pulse">
            <div class="particle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="angle">
      <div class="size">
        <div class="position">
          <div class="pulse">
            <div class="particle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
